body {
background-color: #5af;
}

main {
background-color: #fff;
border: 1em solid #f5a;
max-width: 50em;
margin: auto;
padding: 1em;
}

textarea {
width: 100%;
height: 50em;
}

img {
display: block;
}
